#hw{
    text-align: center;
    font-size: 78px;
    background-color: aquamarine;
    border-color:  black ;
    border-style: solid;
    
}
.bd{
    display:flex;
}
div{
    border-color: black;
    background-color: aliceblue;
    border-style: dashed;
    border
    

}
}